.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    background-color:rgba(253, 7, 7, 0.849);
        
}
.Header h1{
    font-size:50px;
    color: rgb(232, 248, 6);
    margin: 10px;
    padding: 10px;
    justify-content: center;

}

.Header h2{
    font-size:30px;
    color: rgb(253, 237, 8);
    margin: 10px;
    padding: 10px;
    justify-content: center;

}